{
  "extends": ["stylelint-config-recommended", "stylelint-config-styled-components"],
  "ignoreFiles": ["**/*.ts", "node_modules/**/*"],
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "customSyntax": "postcss-styled-syntax"
    }
  ]
}
